.card {
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(black, .2);
    background-color: white;
    // .card__header

    &__header {
        background-color: rgb(172, 163, 211);
        color: white;
        min-height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        box-sizing: border-box;
    }

    // .card__title

    &__title {
        h3 {
            font-size: 2.4rem;
            font-weight: 500;
        }
    }

    // .card__prize

    &__prize {
        margin-top: 1rem;
        text-align: end;
        font-size: 2.4rem;

    }

    // .card__bottom

    &__bottom {
        padding: 1rem;
        box-sizing: border-box;
        p {
            color: black;
            font-size: 1.6rem;
        }
    }

    // .card__btn

    &__btn {
        margin-top: 1rem;
        width: 100%;

    }
}
