<section class="input-form">
  <div class="input-form__container">
    <div class="input-form__form">
      <h2>Sign in</h2>
      <form [formGroup]="signForm" (ngSubmit)="onSubmit(signForm.value); signForm.reset()">
        <div class="input-form__error">
          <span *ngIf="errorMessage && !email?.value?.length && !password?.value?.length">{{ errorMessage }}</span>
        </div>
        <div class="input-form__field">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            placeholder="Email"
            name="email"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            formControlName="email"
          />
          <span *ngIf="email?.invalid && email?.value?.length">Please input correct email </span>
        </div>
        <div class="input-form__field">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            placeholder="Password"
            name="password"
            required
            minlength="8"
            formControlName="password"
          />
          <span *ngIf="password?.invalid && password?.value?.length">Please input more than 8 symbols</span>
        </div>
        <button type="submit" class="btn btn--purple" [disabled]="signForm?.invalid">Sign in</button>
      </form>
    </div>
  </div>
</section>
