<app-header></app-header>
<section class="list-with-friends">
  <div class="list-with-friends__container">
    <div class="list-with-friends__title">
      <h2>Friend</h2>
    </div>
    <div class="list-with-friends__search">
      <label>
        <span>Search friends</span>
        <input type="text" placeholder="Search friends" #search (input)="searchFriends(search.value)" />
      </label>
    </div>
    <div class="list-with-friends__list">
      <div *ngIf="!search.value?.length">
        <h2>My Friends</h2>
        <div *ngIf="!myFriends.length" class="list-with-friends__empty">
          Sorry, you have no friends. Find new friends in the top search form!!!
        </div>
        <ul>
          <li *ngFor="let friend of myFriends">
            <h3>{{ friend.name }}</h3>
            <button class="btn btn--red" mat-stroked-button (click)="openSnackBar('Friend removed', 'THANKS !!!!!')" (click)="removeFriend(friend)">Remove friend</button>
          </li>
        </ul>
      </div>
      <div *ngIf="search.value?.length">
        <h2>Search Friend: {{ search.value }}</h2>
        <div *ngIf="!searchFriend.length" class="list-with-friends__empty">There are no friends on your request</div>
        <ul>
          <li *ngFor="let friend of searchFriend">
            <h3>{{ friend.name }}</h3>
            <button *ngIf="ifFriend(friend.name)" mat-stroked-button (click)="openSnackBar('Friend removed', 'THANKS !!!!!')" class="btn btn--red" (click)="removeFriend(friend)">
              Remove friend
            </button>
            <button
              *ngIf="!ifFriend(friend.name)"
              mat-stroked-button
              (click)="openSnackBar('Friend added', 'THANKS !!!!!')"
              class="btn btn--purple"
              (click)="addFriend(friend)"
            >
              Add friend
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
